{% include 'AllokAcads/ambient_bar.html' %}

{% block content %}
    <br>
        {% for formation in formations %}
            </br>
            <a href="">{{ formation.name }}</a>
            <a href="{% url 'ambient_edit_formations' formation.id ambient.ambientid %}">Editar</a>
            <a href="{% url 'ambient_delete_formations' formation.id ambient.ambientid %}">Excluir</a>
        {% endfor %}
    <br><br>
    <a href="{% url 'ambient_create_formations' ambient.ambientid %}">Criar Formação</a>
{% endblock content %}