{% include 'AllokAcads/ambient_bar.html' %}

{% block content %}
    <br>
        {% for subject in subjects %}
            </br>
            <a href="">{{ subject.name }}</a>
            <a href="{% url 'ambient_edit_subjects' subject.id ambient.ambientid %}">Editar</a>
            <a href="{% url 'ambient_delete_subjects' subject.id ambient.ambientid %}">Excluir</a>
        {% endfor %}
    <br><br>
    <a href="{% url 'ambient_create_subjects' ambient.ambientid %}">Criar Matéria</a>
{% endblock content %}