{% include 'AllokAcads/ambient_bar.html' %}

{% block content %}
    <form action="{% url 'change_position_validate' member.user.userid ambient.ambientid %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="admtype">Tipo de Cargo</label>
        <select name="admtype" id="admtype">
            {% for admtype in admtypes %}
                <option value="{{ admtype.id }}">{{ admtype.name }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Selecionar Cargo">
    </form>
{% endblock content %}

