{% include 'AllokAcads/bar.html' %}

{% block content %}
    <p>Bem vindo à página principal, {{ username }}!</p>

    {% for ambient in ambients.all %}
        <a href="{% url 'ambient' ambient.ambientid userid%}">{{ ambient.name }}</a>
    {% endfor %}

    <a href="{% url 'create_ambient' userid %}">Criar Ambiente</a>

    <p>Entrar em grupo </p>
    <form action="{% url 'enter_ambient' userid %}" method="post">
        {% csrf_token %}
        <label for="ambient_identificator">Identificador</label>
        <input type="text" id="ambient_identificator" name="ambient_identificator"><br>
        <button id="submit" name="submit">Entrar</button>
    </form>
{% endblock content %}