{% extends 'base.html' %}
{% load static %}
{% load plotly_dash %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/professor_dashboard.css' %}">
{% endblock %}

{% block content %}
    <div class="dashboard-container">
        <header class="dashboard-header">
            <div class="dashboard-name">
                <h2>Dashboard dos professores</h2>
                <p>Mostra métricas dos professores no semester selecionado</p>
            </div>
            <ul class="indicators">
                <li class="indicator" id="indicator-avg-interval">
                    <span class="indicator-value">{{ average_class_interval }}</span>
                    <span class="indicator-label">Intervalo Médio</span>
                </li>
                <li class="indicator" id="indicator-avg-classes">
                    <span class="indicator-value">{{ average_classes }}</span>
                    <span class="indicator-label">Média de Aulas/Dia</span>
                </li>
                <li class="indicator" id="indicator-num-professors">
                    <span class="indicator-value">{{ number_of_professors }}</span>
                    <span class="indicator-label">Nº de Professores</span>
                </li>
                <li class="indicator" id="indicator-timetable-quality">
                    <span class="indicator-value">{{ timetable_quality }}</span>
                    <span class="indicator-label">Qualidade da Alocação</span>
                </li>
            </ul>
            <div class="header-filters-container">
                <select name="ambient" id="ambient-select">
                    <option value="">Ambiente</option>
                    {% for ambient in ambients %}
                        <option value="{{ ambient.id }}">{{ ambient.name }}</option>
                    {% endfor %}
                </select>
                <button class="button" id="update-button">
                    Atualizar
                </button>
            </div>
        </header>
        <main>
            <ul class="graphics-container">
                <li class="graphic">
                        {% plotly_app name="GraficoDeBarras" %}
                 
                
                </li>
                <li class="graphic">
                    {% if dash_data_graph_bar.data %}
                        {% plotly_app name='' initial_arguments="" %}
                    {% else %}
                        <div class="placeholder">
                            <p>Selecione os filtros acima para exibir o gráfico.</p>
                        </div>
                    {% endif %}
                </li>
                <li class="graphic">
                    {% if dash_context %}
                        {% plotly_app name='' initial_arguments=dash_context %}
                    {% else %}
                        <div class="placeholder">
                            <p>Selecione os filtros acima para exibir o gráfico.</p>
                        </div>
                    {% endif %}
                </li>
                <li class="graphic">
                    {% if dash_context %}
                        {% plotly_app name='' initial_arguments=dash_context %}
                    {% else %}
                        <div class="placeholder">
                            <p>Selecione os filtros acima para exibir o gráfico.</p>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </main>
        <footer>
            <nav class="switch-dashboard">
                <a href="{% url 'dashboard_app:professor_dashboard' %}" class="button-active">Professores</a>
                <a href="{% url 'dashboard_app:space_dashboard' %}" class="button">Espaços</a>
            </nav>
        </footer>
    </div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const ambientSelect = document.getElementById('ambient-select');
        const updateButton = document.getElementById('update-button');
            
        updateButton.addEventListener('click', () => {
            const ambientId = ambientSelect.value;
            updateDashboardData(ambientId);
        })

        async function updateDashboardData(ambientId) {
            document.querySelector('#indicator-avg-interval .indicator-value').textContent = '...';
            document.querySelector('#indicator-avg-classes .indicator-value').textContent = '...';
            document.querySelector('#indicator-num-professors .indicator-value').textContent = '...';
            document.querySelector('#indicator-timetable-quality .indicator-value').textContent = '...';

            const url = new URL('/dashboard/api/update-dashboard-data/', window.location.origin);

            if (ambientId) {
                url.searchParams.append('ambient', ambientId);
            }

            try {
                const response = await fetch(url);

                if (!response.ok) {
                    throw new Erro('Erro')
                }
                const newData = await response.json();

                document.querySelector('#indicator-avg-interval .indicator-value').textContent = newData.indicators.average_class_interval;
                document.querySelector('#indicator-avg-classes .indicator-value').textContent = newData.indicators.average_classes;
                document.querySelector('#indicator-num-professors .indicator-value').textContent = newData.indicators.number_of_professors;
                document.querySelector('#indicator-timetable-quality .indicator-value').textContent = newData.indicators.timetable_quality;

            } catch (erro) {
                console.error('Erro: Atualização do dashboard');
            }         
        }
    });
</script>
{% endblock %}