{% extends 'base.html' %}
{% load static %}
{% load plotly_dash %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/professor_dashboard.css' %}">
{% endblock %}

{% block content %}
    <div class="dashboard-container">
        <header class="dashboard-header">
            <div class="dashboard-name">
                <h2>Dashboard dos professores</h2>
                <p>Mostra métricas dos professores no semester selecionado</p>
            </div>
            <ul class="indicators">
                <li class="indicator" id="indicator-avg-interval">{{ average_class_interval }}</li>
                <li class="indicator" id="indicator-avg-trips">{{ average_trips }}</li>
                <li class="indicator" id="indicator-avg-classes">{{ average_classes }}</li>
                <li class="indicator" id="indicator-num-professors">{{ number_of_professors }}</li>
                <li class="indicator" id="indicator-timetable-quality">{{ timetable_quality }}</li>
            </ul>
            <div class="header-filters-container">
                <select name="ambient" id="ambient-select">
                    <option value="">Ambiente</option>
                    {% for ambient in ambients %}
                        <option value="{{ ambient.id }}">{{ ambient.name }}</option>
                    {% endfor %}
                </select>
                <button class="button" id="update-button">
                    Atualizar
                </button>
            </div>
        </header>
        <main>
            <ul class="graphics-container">
                <li class="graphic">
                    {% if dash_data_graph_bar.data %}
                        {% plotly_app name="" initial_arguments="" %}
                    {% else %}
                        <div class="placeholder">
                            <p>Selecione os filtros acima para exibir o gráfico.</p>
                        </div>
                    {% endif %}
                </li>
                <li class="graphic">
                    {% if dash_data_graph_bar.data %}
                        {% plotly_app name='' initial_arguments="" %}
                    {% else %}
                        <div class="placeholder">
                            <p>Selecione os filtros acima para exibir o gráfico.</p>
                        </div>
                    {% endif %}
                </li>
                <li class="graphic">
                    {% if dash_context %}
                        {% plotly_app name='' initial_arguments=dash_context %}
                    {% else %}
                        <div class="placeholder">
                            <p>Selecione os filtros acima para exibir o gráfico.</p>
                        </div>
                    {% endif %}
                </li>
                <li class="graphic">
                    {% if dash_context %}
                        {% plotly_app name='' initial_arguments=dash_context %}
                    {% else %}
                        <div class="placeholder">
                            <p>Selecione os filtros acima para exibir o gráfico.</p>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </main>
        <footer>
            <nav class="switch-dashboard">
                <a href="?view=spaces" class="button-active">Espaços</a>
                <a href="?view=professors" class="button">Professores</a>
            </nav>
        </footer>
    </div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const ambientSelect = document.getElementById('ambient-select');
        const updateButton = document.getElementById('update-button')
            
        updateButton.addEventListener('click', () => {
            const ambientId = ambientSelect.value
            updateDashboardData(ambientId);
        })

        async function updateDashboardData(ambientId) {
            document.getElementById('indicator-avg-interval').textContent = 'Vazio'
            document.getElementById('indicator-avg-trips').textContent = 'Vazio'
            document.getElementById('indicator-avg-classes').textContent = 'Vazio'
            document.getElementById('indicator-num-professors').textContent = 'Vazio'
            document.getElementById('indicator-timetable-quality').textContent = 'Vazio'

            const url = new URL('/dashboard/api/update-dashboard-data/', window.location.origin);

            if (ambientId) {
                url.searchParams.append('ambient', ambientId)
            }

            try {
                const response = await fetch(url);

                if (!response.ok) {
                    throw new Erro('Deu ruim')
                }
                const newData = await response.json();

                document.getElementById('indicator-avg-interval').textContent = newData.indicators.average_class_interval;
                document.getElementById('indicator-avg-trips').textContent = newData.indicators.average_trips;
                document.getElementById('indicator-avg-classes').textContent = newData.indicators.average_classes;
                document.getElementById('indicator-num-professors').textContent = newData.indicators.number_of_professors;
                document.getElementById('indicator-timetable-quality').textContent = newData.indicators.timetable_quality;

            } catch (erro) {
                console.error('Erro: Atualização do dashboard')
            }
                
        }
    });
</script>
{% endblock %}